{% extends 'layouts/application.html' %} 
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content pt-40">
    {% include 'modules/PageCategory/mod-category-name.html' %}
    {% include 'modules/mod-newbanner.html' %}
    {% include 'modules/PageBlog/mod-column.html' %}
    {% include 'modules/mod-textbased.html' %}
    {% include 'modules/mod-the_lasted.html' %}
    {% include 'modules/PageStores/mod-see_all.html' %}
    {% include 'modules/PageShop/mod-let_us.html' %}


    {% include 'modules/mod-secondbanner.html' %}
    <div class="space h-30 "></div>
    {% include 'modules/PageCategory/mod-FAQ1.html' %}
</main>

{% endblock %}