{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content pt-40">
    {% include 'modules/mod-banner-new_modules.html' %}
    <div class="h-50"></div>
    {% include 'modules/mod-inspired.html' %}
    <div class="h-50"></div>
    {% include 'modules/mod-eliminate.html' %}
    {% include 'modules/mod-eliminate_new_color.html' %}
    <!-- {% include 'modules/mod-sleep_better.html' %} -->
    {% include 'modules/mod-fall_asleep.html' %}
</main>

{% endblock %}