{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content pt-40">
    {% include 'modules/mod-join.html' %}
    <div class="h-50"></div>
    {% include 'modules/mod-Our_reviews.html' %}
    <div class="h-50"></div>
    {% include 'modules/PageHome/mod-banner.html' %}
    <div class="h-50"></div>
    {% include 'modules/PageStores/mod-see_all.html' %}
    <div class="h-50"></div>


</main>

{% endblock %}